.detail{
  padding: rem(36);
  img{

  }
}
.detail-imgText{
    background: #ffffff;
  text-align: center;
  margin: 0 auto;
  display: block;

   .title{
     font-size: rem(44);
     text-align: left;
     color: #3d3d3d;
     font-weight: bold;
   }

  hr{
    border: 1px solid #dadada;
    margin: rem(36) 0;
  }

  p{
    line-height: rem(50);
    letter-spacing: rem(2);
    color: #6e6e6e;
    font-size: rem(32);
  }

  .mt-img{
    margin-top: rem(32);
    margin-bottom: rem(32);
  }
  img{
    text-align: center;
    display: inline-block;
  }
}



//卡片detail
.card-detail{

  .head-size{
    width: rem(90);
    height: rem(90);
    margin-right: rem(32);
    border-radius: 100%;
    overflow: hidden;
  }
  .card-detail-item{
    display: block;
    border-radius: 10px;
    box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.4);
    padding: rem(30);
    background: #fff;
    margin-bottom: rem(30);
    a{
      display: block;
    }
    h5{
      font-size: rem(32);
      font-weight: bold;
      color: #22292c;
      margin-bottom: rem(8);
    }

    .label{
      color: #bcbcbc;
      font-size: rem(28);
    }

    p{
      font-size: rem(28);
      color: #747474;
      line-height: rem(38);
      letter-spacing: rem(2);
      margin-bottom: rem(10);
      margin-top: rem(30);
    }
  }

}