<div class="mt-content-list">
    <ul class="card-list">

    <li class="card-item text-ellipsis" ng-repeat="card in cardList " >
        <a class="block" ng-click="goCardDetail(card)">
            <div class="head-size ib">
                <img-lazy width="100%"  >
                    <img  ng-src="{{card.photoImgUrl}}"  class="ib"   />
                </img-lazy>
            </div>


            <h5 class="text-ellipsis">{{card.teacherName}}</h5>
            <div class="label text-ellipsis">{{card.jobType ? card.jobType : "无"}}</div>

        </a>
    </li>

</ul>
</div>