<section class="mt-content-index">
    <div class="text-center welcome_pos">
        <h5 class="ib welcome_img "></h5>
    </div>

    <ul class="menu clearFix">
        <li ng-repeat="menu in menuList">
            <a     href="javascript:void(0);"  ng-click="goMenu(menu)"  ng-style={'backgroundColor':menu.iconColor}     class=" fx-row fx-row-center fx-row-middle ">
                <span class="block {{menu.iconName}}  icon fx-col-center "  ></span>
            </a>
            <div class="font-desc text-center">
                {{menu.menuName}}
            </div>
        </li>
    </ul>
</section>

